body {
    font-family:'Times New Roman', Times, serif;
    margin: 10px;
    background-color: rgb(162, 160, 220);
}

.header {
    font-size: 30px;
}

.header h1 {
    margin-top: 10px;
    position: relative;
    top: 18px;
    left: 10px;
}

.header img {
    float: left;
    width: 100px;
    height: 100px;
    padding-right: 10px;
    padding-left: 10px;
}

.center {
    margin: auto;
    width: 45%;
    border: 5px solid #ffffff;
    border-bottom-style: dashed;
    padding: 5px;
    }