{% extends "layout.html" %}

{% block body %}
    <a href="/post-entry">Add a new post</a>
    <form action="/" method="post">
        <table>
            {% for post in timeline %}
                <tr>
                    <td>{{ post['Title'] }}</td>
                    <td>{{ post['Content'] }}</td>
                    <td><input type="checkbox" name="task_item" value={{ post['id'] }}></td>
                </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Delete Posts">
    </form>
    <form action="/" method="post">
        <table>
            {% for post in timeline %}
                <tr>
                    <td>{{ post['Title'] }}</td>
                    <td>{{ post['Content'] }}</td>
                    <td><input type="checkbox" name="task_item" value={{ post['id'] }}></td>
                </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Delete Posts">
    </form>
    </ul>
{% endblock %}
