{% extends "layout.html" %}

{% block body %}
    <h1>New Post:</h1>
    <div class="center">
        <form action="/add-post" method="post">
            <input autocomplete="off" autofocus name="post_username" placeholder="Username" type="text"><br>
            <input autocomplete="off" autofocus name="post_title" placeholder="Title" type="text"><br>
            <input class = "content" autocomplete="off" autofocus name="post_content" placeholder="Content" type="text"><br>
            <input type="submit" value="Post">
        </form>
    </div>
{% endblock %}